@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Course and Result Management
System</h1>
    <p class="lead">This is a simple web application for University course and result management.It can be used to do some simple task such as saving and showing department information, saving courses, registering teacher and student, assigning courses to them,
    assigning classroom, grading and showing result etc.</p>
</div>

<div class="section">
    <fieldset>
        <legend>Stories</legend>
        <ul>
            <li>
                <a href="/Department/SaveDepartment">Save Department</a>
            </li>
            <li>
                <a href="/Department/ViewAllDepartments">View All Departments</a>
            </li>
            <li>
                <a href="/Course/SaveCourse">Save Course</a>
            </li>
            <li>
                <a href="/Teacher/SaveTeacher">Save Teacher</a>
            </li>
            <li>
                <a href="/Course/CourseAssignToTeacher">Course Assign to Teacher</a>
            </li>
            <li>
                <a href="/Course/ViewCourseStatics">View Course Statics</a>
            </li>
            <li>
                <a href="/Student/RegisterStudent">Register Student</a>
            </li>
            <li>
                <a href="/ClassroomAllocation/Index">Allocate Classrooms</a>
            </li>
            <li>
                <a href="/ClassroomAllocation/ViewClassScheduleAndRoomAllocationInformation">View Class Schedule and Room Allocation Information</a>
            </li>
            <li>
                <a href="/CourseEnroll/Enroll">Enroll In a Course</a>
            </li>
            <li>
                <a href="/Teacher/Result">Save Student Result</a>
            </li>
            <li>
                <a href="/Student/ViewResult">View Result</a>
            </li>
            <li>
                <a href="/Course/Unassign">Unassign All Courses</a>
            </li>
            <li>
                <a href="/ClassroomAllocation/UnallocateAllClassrooms">Unallocate All Classrooms</a>
            </li>
        </ul>
    </fieldset>

</div>